body {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
}
.dashboard {
  .MuiListItemIcon-root {
    color: rgba($color: #fff, $alpha: 0.9);
  }
  .MuiPaper-root {
    background: unset; /* fallback for old browsers */
  }
}

@media screen and (max-width: 600px) {
  .MuiPaper-root {
    background: #4a00e0; /* fallback for old browsers */
  }
  .material-icons {
    color: whitesmoke;
  }
}

button.MuiButtonBase-root {
  color: whitesmoke;
  background: unset;
}

span.MuiListItemText-primary {
  color: rgba($color: #fff, $alpha: 0.9);
}
