@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
.main-wrapper {
  height: 80vh;
  .main-content {
    text-align: center;
  }
  .main-text-field {
    width: 60vw;
    input {
      color: whitesmoke !important;
      border: 1px solid whitesmoke !important;
    }
  }
  .main-header {
    font-size: 40px;
    margin-top: 10%;
    font-family: "Merriweather";
  }
  .keyboard {
    margin-left: (30px);
    width: unquote("min(99vw, 450px)");
  }
}

@media screen and (max-width: 450px) {
  .keyboard {
    margin-left: (18px) !important;

    animation: fadeIn 1s;
  }
}

$primary: whitesmoke;

.button-speak {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: none;
  height: 50px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: rgba(114, 36, 216, 0.377);
  border: 2px solid $primary;
  color: $primary;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: black;
    background: whitesmoke;
  }
  &:active {
    letter-spacing: 4px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
